<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593194685256-ame1ssmje5i8762htt9272a8p5o6hf4m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593194685256-ame1ssmje5i8762htt9272a8p5o6hf4m</string>
	<key>API_KEY</key>
	<string>AIzaSyBpmkhrNndMfIUxgP3GKATU3BO62EUJpHA</string>
	<key>GCM_SENDER_ID</key>
	<string>593194685256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doyeongkim.FirebasePractice</string>
	<key>PROJECT_ID</key>
	<string>fir-practice-af571</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-practice-af571.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593194685256:ios:1065617fdf22add8</string>
	<key>DATABASE_URL</key>
	<string>https://fir-practice-af571.firebaseio.com</string>
</dict>
</plist>